<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
  ${flash.success}
      <h1>系统信息</h1>
      <table>
          <tr><td>处理器个数：</td><td>${runtime.availableProcessors()}</td></tr>
          <tr><td>空闲内存：</td><td>${runtime.freeMemory()}</td></tr>
          <tr><td>总内存：</td><td>${runtime.totalMemory()}</td></tr>
          <tr><td>最大内存：</td><td>${runtime.maxMemory()}</td></tr>
      </table>
      <table>
          #{list items:configs,as:'config'}
          <tr><td>${config.name}：</td><td>${config.val}</td><td>#{a @Manager.delconfig(config.id)}删除#{/a}</td></tr>          
          #{/list}
      </table>
	  #{form @Manager.addconfig()}
	  <table>
		  <tr><td>配置名称</td><td>值</td><td>&nbsp;</td></tr>
          <tr><td><input type="text" name="item.name"></td>
		  <td><input type="text" name="item.val"></td>
		  <td><input type="submit" name="doaddconfig" value="设置"></td>
		  </tr>          
      </table>
	  #{/form}
	  #{a @Manager.apply()}应用#{/a}
  </body>
</html>
