#{extends 'table.html'/}
#{set title:"用户登陆"/}

<div style="margin:100px 0 100px 0;">
#{if flash.error}
    <p>${flash.error}</p>
#{/if}
    <div class="row-fluid">
        <div class="span2">
            <a href="@{Auth.googlelogin()}"><img src="@{'/public/images/openid-logos/google.gif'}">
                <br/>用Gmail帐号登录</a>
        </div>
        <div class="span2">
            <a href="@{Auth.yahoologin()}"><img src="@{'/public/images/openid-logos/yahoo.gif'}">
                <br/>用Yahoo帐号登录</a>
        </div>
        <div class="span2">
            <a href="@{Auth.qq()}"><img src="@{'/public/images/openid-logos/qq.gif'}">
                <br/>用腾讯微博帐号登录</a>
        </div>

        <div class="span2">
            <a href="@{Auth.baidu()}"><img src="@{'/public/images/openid-logos/qq.gif'}">
                <br/>用百度帐号登录</a>
        </div>
    </div>
</div>