table{
    width:100%;
}

.question h4{
    margin: 2px 0px;
    padding: 2px 0px;
}

.tag{
    padding: 2px 5px;
    text-shadow: none;
    color: #333;
}


div.vote-actions, div.post-actions{
    display: inline-block;
}


.vote-up, .vote-up-on, .vote-down, .vote-down-on{
    display:inline-block;
    width: 24px;
    height: 24px;
    vertical-align:bottom;
}

.vote-up{
    background-image:url('../images/vote-arrow-up.png');
}
.vote-up-on{
    background-image:url('../images/vote-arrow-up-on.png');
}
.vote-down{
    background-image:url('../images/vote-arrow-down.png');
}
.vote-down-on{
    background-image:url('../images/vote-arrow-down-on.png');
}

.vote-score{
    margin: 0;
    line-height: 30px;
    font-weight:bold;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    width: 31px;
}

.top-nav{
    background: orange;
}

.top-nav ul{
    margin-bottom: 0px;
}


.footer{
    margin-top: 20px;
    padding-top: 20px;
}

.ui-pnotify{
    background-color:orange;
    position: absolute;
}
.text-right{
    text-align: right;
}
.info{
    color:#828282;font-size:90%;padding-left:20px;
}
.answer{
    margin-bottom: 25px;
}
.answer p{
    margin-bottom: 4px;
}
a:hover{
    text-decoration: none;
}

.share-buttons a{
    border: none;
    padding: 2px 2px 2px 22px;
    background-repeat: no-repeat;
}
.share-buttons .renren{
    padding-left: 32px;
    background-image: url('../images/sns/renren.png');
}
.share-buttons .weibo{
    background-image: url('../images/sns/weibo.png');
}
.share-buttons .qqwb{
    background-image: url('../images/sns/qqwb.png');
}
.share-buttons .twitter{
    background-image: url('../images/sns/twitter_bird.png');
}