table{
    width:100%;
}

.question h4{
    margin: 2px 0px;
    padding: 2px 0px;
}

.tag{
    padding: 2px 5px;
    text-shadow: none;
    color: #333;
}


div.vote-actions, div.post-actions{
    display: inline-block;
}


.vote-up, .vote-up-on, .vote-down, .vote-down-on{
    display:inline-block;
    width: 24px;
    height: 24px;
    vertical-align:bottom;
}

.vote-up{
    background-image:url('../images/vote-arrow-up.png');
}
.vote-up-on{
    background-image:url('../images/vote-arrow-up-on.png');
}
.vote-down{
    background-image:url('../images/vote-arrow-down.png');
}
.vote-down-on{
    background-image:url('../images/vote-arrow-down-on.png');
}

.vote-score{
    margin: 0;
    line-height: 30px;
    font-weight:bold;
    font-size: 22px;
    text-align: center;
    display: inline-block;
    width: 31px;
}

.top-nav{
    background: orange;
}

.top-nav ul{
    margin-bottom: 0px;
}


.footer{
    margin-top: 20px;
    padding-top: 20px;
}

.ui-pnotify{
    background-color:orange;
    position: absolute;
}
