#{extends 'table.html'/}
<h2 style="display:inline;">${user.name}</h2> &nbsp; #{a @UserCenter.edit()}修改#{/a}
<table style="width:600px;">
    <caption>基本信息</caption>
    <tr>
        <td>
            名字：
        </td>
        <td>
            ${user.name}
        </td>
    </tr>
    <tr>
        <td>
            Email：
        </td>
        <td>
            ${user.email}
        </td>
    </tr>
    <tr>
        <td>
            真实名字：
        </td>
        <td>
            ${user.realname}
        </td>
    </tr>
    <tr>
        <td>
            网站：
        </td>
        <td>
            ${user.website}
        </td>
    </tr>
    <tr>
        <td>
            地址：
        </td>
        <td>
            ${user.location}
        </td>

    </tr>
    <tr>
        <td>
            生日：
        </td>
        <td>
            ${user.birthday?.format('yyyy/MM/dd')}
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top; padding-top:18px;">
            关于我：
        </td>
        <td>
                ${user.about?.raw()}
        </td>
    </tr>
    
    <tr>
        <td >
            角色：
        </td>
        <td>
                #{list items:user.roles,as:'role'}${role.name} &nbsp;#{/list}
        </td>
    </tr>
    
</table>
<script type="text/javascript">
    function subscribe(name){
        $.post("@{UserCenter.subscribe()}",{"topic":name},function(){
            location.reload();
        });        
    }
    function unsubscribe(name){
        $.post("@{UserCenter.unsubscribe()}",{"topic":name},function(){
            location.reload();
        });
    }
</script>

<table style="width:600px;">
    <caption>订阅</caption>
    <tr>
        <td >
            所有新问题
        </td>
        <td>
            #{if !subscribesMap.containsKey('all_question')}<a href="javascript:void(0)" onclick="subscribe('all_question')" >订阅</a>#{/if}
            #{else}<a href="javascript:void(0)" onclick="unsubscribe('all_question')" >取消</a>#{/else}
        </td>
    </tr>   
    <tr>
        <td >
            所有我的问题的回答
        </td>
        <td>
            #{if !subscribesMap.containsKey('answer_for_me')}<a href="javascript:void(0)" onclick="subscribe('answer_for_me')" >订阅</a>#{/if}
            #{else}<a href="javascript:void(0)" onclick="unsubscribe('answer_for_me')" >取消</a>#{/else}
        </td>
    </tr>   
</table>
