#{extends 'main.html'/}
<div >
	<img src="@{'public/images/welcome/1.jpg'}">
	<img src="@{'public/images/welcome/2.jpg'}">
	<img src="@{'public/images/welcome/3.jpg'}">
	<img src="@{'public/images/welcome/4.jpg'}">
</div>

<div class="grid4 first">
	<ul>
	<li >无需注册，直接用OpenID登录。</li>
	<li >只需关注你的内容，连标题都省了。</li>
	<li >Lucence帮你搜索。</li>
	<li >因为简单，所以喜欢。</li>
	<li >博客太麻烦，我只会云贴纸。</li>
	</ul>
</div>
<div class="grid8">
	<a href="@{CloudPaster.prepaste()}"><img src="@{'public/images/start.png'}"></a>
</div>