#{extends 'main.html'/}
问题
#{list items:pasters,as:'paster'}
<div class="grid9 first question">
    <div class="grid1 first voting-box "></div>
    <div class="grid7">
        <div>
        <h2>#{a @CloudPaster.view(paster.skey)}${paster?.title}#{/a}</h2>
        </div>
        <div>
        #{list items:paster?.tags,as:'tag'}#{a @CloudPaster.tag(tag.name)}${tag.name}#{/a}#{/list}
        </div>
        <div class="question-signature">
        ${paster?.creator} 发表于 ${paster?.createDate?.format('yyyy-MM-dd hh:ss')}
        #{if paster?.updateDate} <br/> ${paster?.creator} 修改于 ${paster?.createDate.format('yyyy-MM-dd hh:ss')}#{/if}
        </div>
    </div>
</div>
#{/list}
#{paginations questions:true/}