#{extends 'main.html'/}
<div class="grid8 first list-paster even-border">
		<div class="paster-header even"><div class="paster-icon"></div><a href="@{CloudPaster.view(paster.skey)}">${paster.skey}</a>
		<span class="small">${paster.createDate.format('yyyy-MM-dd hh:ss')}</span>
		</div>
		<div class="paster-content">
		${paster.content.raw()}
		</div>
</div>
<div class="clear"></div>
<p/>
<div class="grid8 first">
	<a href="@{CloudPaster.my()}" class="large">返回我的贴纸</a>
	<a href="@{CloudPaster.index()}">返回首页</a>
	<a href="@{CloudPaster.delete(paster.skey)}" class="small">删除了吧</a>
</div>


