#{extends 'main.html'/}
<h2>${paster.title}</h2>
<div class="grid9 first question">    
    <div>
        <div>
        ${paster.content.raw()}
        </div>
        <div class="tags">
        #{list items:paster.tags,as:'tag'}#{a @CloudPaster.tag(tag.name)}${tag.name}#{/a}#{/list}
        </div>
        <div class="question-signature">
        ${paster.creator.name} 发表于 ${paster.created.format('yyyy-MM-dd hh:ss')}
        #{if paster.updated} <br/> ${paster.lastUser.name} 修改于 ${paster.updated.format('yyyy-MM-dd hh:ss')}#{/if}
        </div>
        <div class="question-buttons">
        #{a @CloudPaster.edit(paster.id)}编辑#{/a}
        #{a @CloudPaster.answer(paster.id)}回复#{/a}
        #{a @CloudPaster.comment(paster.id)}评论#{/a}
        </div>
        <div class="first comment-list">
            #{list items:paster.comments,as:'comment'}
            <div class="comment">
                <div>
                ${comment.content.raw()}
                </div>
                <div class="question-signature">
                ${comment.creator.name} 发表于 ${comment.created.format('yyyy-MM-dd hh:ss')}
                #{if comment.updated} <br/> ${comment.lastUser.name} 修改于 ${comment.updated.format('yyyy-MM-dd hh:ss')}#{/if}
                </div>
                <div class="question-buttons">
                #{a @CloudPaster.answer(comment.id)}编辑#{/a}
                #{a @CloudPaster.comment(paster.id)}评论#{/a}
                </div>
                <div class="decorate-line"></div>
            </div >
            #{/list}
        </div>
        <div>
            #{if state=='answer'}
                <div class="paster_form">
                <h2>你的回复</h2>
                #{form @CloudPaster.answer(paster.id)}
                    #{editor id:'answer-editor',name:'content',type:'wiki'/}
                    <input type="submit" name="doansweradd" value="新回复"></input>	
                    <input type="submit" name="docancel" value="取消"></input>	
                #{/form}
                </div>
            #{/if}
            #{if state=='comment'}
                <div>
                <h2>你对该问题的评论:</h2>
				<div class="simple-form">
                #{form @CloudPaster.comment(paster.id)}
                    #{editor id:'answer-editor',name:'content',mode:'simple'/}
                    <input type="submit" name="docommentadd" value="新评论"></input>	
                    <input type="submit" name="docancel" value="取消"></input>	
                #{/form}
				</div>
                </div>
            #{/if}
        </div>
    </div>
</div>

<div class="clear"></div>

<h2>${paster.answerCount}个回复</h2>

<div class="answer-list">
    #{list items:paster.answers,as:'answer'}
    <div class="grid9 first answer">        
        <div>
            <div>
            ${answer.content.raw()}
            </div>
            <div class="question-signature">
            ${answer.creator.name} 发表于 ${answer.created.format('yyyy-MM-dd hh:ss')}
            #{if answer.updated} <br/> ${answer.lastUser.name} 修改于 ${answer.updated.format('yyyy-MM-dd hh:ss')}#{/if}
            </div>
            <div class="question-buttons">
            #{a @CloudPaster.edit(answer.id)}编辑#{/a}
            #{a @CloudPaster.comment(paster.id,answer.id)}评论#{/a}
            </div>
            <div class="comment-list">
            #{list items:answer.comments,as:'comment'}
                <div class="comment">
                    <div>
                    ${comment.content.raw()}
                    </div>
                    <div class="question-signature">
                    ${comment.creator.name} 发表于 ${comment.created.format('yyyy-MM-dd hh:ss')}
                    #{if comment.updated} <br/> ${comment.lastUser.name} 修改于 ${comment.created.format('yyyy-MM-dd hh:ss')}#{/if}
                    </div>
                    <div class="question-buttons">
                    #{a @CloudPaster.answer(paster.id)}编辑#{/a}
                    #{a @CloudPaster.answer()}隐藏#{/a}
                    #{a @CloudPaster.comment(paster.id,answer.id)}评论#{/a}
                    </div>
                </div >
            #{/list}
            </div>			
            #{if state=='answer-comment' && answerId==answer.id}
                <div>
                <h2>你对该回复的评论:</h2>
                <div class="simple-form">
                #{form @CloudPaster.comment(paster.id,answer.id)}
                    #{editor id:'answer-editor',name:'content',mode:'simple'/}
                    <div>
                    <input type="submit" name="docommentadd" value="新评论"></input>
                    <input type="submit" name="docancel" value="取消"></input>	
                    </div>
                #{/form}
                </div>
                </div>
            #{/if}
        </div>
    </div >
    #{/list}
</div>
<div class="clear"></div>



