<!DOCTYPE html>

<html>
    <head>
        <title>云贴纸--简单的个人便签工具</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
        
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/style.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/squeezebox/SqueezeBox.css'}">
		<script src="/public/javascripts/mootools-core-1.3.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/javascripts/mootools-1.2.4.4-more.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/javascripts/SqueezeBox.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/javascripts/CloudPaster.js" type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" type="text/css" href="@{'public/javascripts/editor/Assets/MooEditable/MooEditable.css'}">
	<link rel="stylesheet" type="text/css" href="@{'public/javascripts/editor/Assets/MooEditable/MooEditable.Extras.css'}">
	<link rel="stylesheet" type="text/css" href="@{'public/javascripts/editor/Assets/MooEditable/MooEditable.Smiley.css'}">
	<script type="text/javascript" src="@{'public/javascripts/editor/Localization/MooEditable.Chinese.CN.js'}"></script>
	<script type="text/javascript" src="@{'public/javascripts/editor/MooEditable/MooEditable.js'}"></script>
	<script type="text/javascript" src="@{'public/javascripts/editor/MooEditable/MooEditable.UI.ButtonOverlay.js'}"></script>
	
    </head>
    <body>
<div class="decorate-line"></div>    
<div id="header">
	<div class="container">
		<div class="grid2 first">
			<a href="@{CloudPaster.index()}"><div class="logo"></div></a>
		</div>
		<div class="grid10">
			<div class="grid10 first info">
				简单的个人便签工具 <span class="small">已有${models.User.count()}人在使用云贴纸，希望下一个就是你噢</span>
			</div>
			<div class="grid2 first search-form">
				<table>
				#{form @CloudPaster.search(),method:'GET',class:'searchform'}
				<tr><td>
					<input type="hidden" name="from" value="0"/>
					<input name="keywords" value="${keywords}" type="text">
				</td><td>
					<button type="submit" class="searchbutton"><img alt="搜索" src="@{'public/images/search.png'}"></button>
				</td></tr>
				#{/form}
				</table>
			</div>
			<div class="grid8 header-menu">
		        <ul class="menuul fright">
		          <li><a href="@{CloudPaster.activity()}"><span>最近活跃</span></a></li>
		          <li><a href="@{CloudPaster.questions()}"><span>问题</span></a></li>
		          <li><a href="@{CloudPaster.unanswered()}"><span>等待回答</span></a></li>
		          <li><a href="@{CloudPaster.tags()}"><span>分类</span></a></li>
		          <li><a href="@{CloudPaster.users()}"><span>用户</span></a></li>
		          <li><a href="@{CloudPaster.ask()}"><span>我要提问</span></a></li>
		          *{
		          <li><a href="@{CloudPaster.index()}"><span>首页</span></a></li>
		          #{if session['user.key']}
		          	<li><a href="@{CloudPaster.my()}"><span>我的贴纸</span></a></li>
			        <li><a rel="boxed" href="javascript:void(0);"><span>开始贴纸</span></a></li>
			        <li><a href="@{Auth.logout()}"><span>退出</span></a></li>
				  #{/if}
				  #{else}
			          <li><a href="@{Auth.login()}"><span>用OpenID登录</span></a></li>
				  #{/else}
				  }*
		        </ul>
	      	</div>
		</div>
	</div>
</div>
<div class="clear"><p/></div>
<div class="container">
	<div id="_editor"></div>
    #{doLayout/}
</div> 
<div class="clear"></div>
<div id="footer">
	<div class="container">
	    <div class="grid10 first">
	    	鸣谢：
	      <ul class="menuul">
	      	<li><a href="http://nginx.org/">nginx</a></li>
	      	<li><a href="http://www.mongodb.org/">mongodb</a></li>
	      	<li><a href="http://www.playframework.org">playframework</a></li>
	      	<li><a href="http://www.blueprint.org">blueprint</a></li>
	      	<li><a href="http://lucene.apache.org">apache lucene</a></li>
	      	<li><a href="http://openiconlibrary.sourceforge.net/">openiconlibrary</a></li>
	      	<li><a href="http://www.eclipse.org/">eclipse</a></li>
	      	<li><a href="http://redcloth.org/hobix.com/textile/">textile</a></li>
	      </ul>
	    </div>
		<div class="grid2" id="footer-logo"><img alt="logo" src="@{'public/images/logo.png'}"></div>
	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9838740-3']);
  _gaq.push(['_setDomainName', '.cloudpaster.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
window.addEvent('domready', function() {
	
	$$('a[rel=boxed]').addEvent('click', function(event) {
          event.stop();
          var req = new Request({
              method: 'get',
              evalScripts: true,
              url: '@{CloudPaster.prepaste()}',
              onRequest: function() { 
				$('_editor').set('html', '<img src="@{'public/images/loading.gif'}">'); 
			  },
              onComplete: function(response) { 
              	$('_editor').set('html', response);
              	var myMooEditable = new MooEditable('paster-content', {
					handleSubmit: false,
					cleanup: false,
					onRender: function(){
					}
				});
				$('btpaste').addEvent("click",function(event){
					event.stop();
					cloudPaster.paste($('paster-title').get('value'),myMooEditable.getContent(),$('paster-tags').get('value'));
				});
				$('btcancel').addEvent('click',function(event){
					$('_editor').erase('html');
				});
				myMooEditable.attach();				
              }
          }).send();	
	});
});
</script>

<div style="display:none">
	<div id="paster-template" class="grid8 first list-paster ">
		<div class="paster-header">
			<div class="grid6 first">
				<div class="paster-icon"></div>
				<a></a>
				<span class="small"></span>
			</div>
			<div class="grid2 right" >
				<a class="useful" href="javascript:void(0);" onclick="">有用</a>
				<a class="small useless" href="javascript:void(0);" onclick="">没什么用</a>				
			</div>

		</div>
		<div class="paster-content">
		</div>
	</div>
	
	<div id="useful-template"  class="even-border paster-header list-paster">
		<a href=""></a> &nbsp; <span class="small" > 共有<span class="useful-count">0</span>被认为是有用的。</span>
	</div>
</div>
    </body>
</html>
    