<!DOCTYPE html>

<html>
    <head>
        <title>云贴纸--简单的个人便签工具</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
        
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/style.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/squeezebox/SqueezeBox.css'}">
        <script src="/public/javascripts/mootools-1.2.5-core.js" type="text/javascript" charset="utf-8"></script>        
        <script src="/public/javascripts/SqueezeBox.js" type="text/javascript" charset="utf-8"></script>        
    </head>
    <body>
<div class="decorate-line"></div>    
<div id="header">
	<div class="container">
		<div class="grid2 first">
			<a href="@{CloudPaster.index(0)}"><div class="logo"></div></a>
		</div>
		<div class="grid10">
			<div class="grid10 first info">
				简单的个人便签工具 <span class="small">已有${models.User.count()}人在使用云贴纸，希望下一个就是你噢</span>
			</div>
			<div class="grid5 first search-form">
			<table>
			#{form @CloudPaster.search(),method:'GET',class:'searchform'}
			<tr><td>
				<input type="hidden" name="from" value="0"/>
				<input name="keywords" value="${keywords}" type="text">
			</td><td>
				<button type="submit" class="searchbutton"><img alt="搜索" src="@{'public/images/search.png'}"></button>
			</td></tr>
			#{/form}
			</table>
			
			</div>
			<div class="grid5 header-menu">
		        <ul class="menuul fright">
		          <li><a href="@{CloudPaster.index(0)}"><span>首页</span></a></li>
		          #{if session['user.key']}
		          	<li><a href="@{CloudPaster.my(0)}"><span>我的贴纸</span></a></li>
			        <li><a rel="boxed" href="@{CloudPaster.prepaste()}"><span>开始贴纸</span></a></li>
			        <li><a href="@{Auth.logout()}"><span>退出</span></a></li>
				  #{/if}
				  #{else}
			          <li><a href="@{Auth.login()}"><span>用OpenID登录</span></a></li>
				  #{/else}
		        </ul>
	      	</div>
		</div>
	</div>
</div>
<div class="clear"><p/></div>
<div class="container" id="pasters-list">
    #{doLayout/}
</div> 
<div class="clear"></div>
<div id="footer">
	<div class="container">
	    <div class="grid10 first">
	    	鸣谢：
	      <ul class="menuul">
	      	<li><a href="http://nginx.org/">nginx</a></li>
	      	<li><a href="http://www.mongodb.org/">mongodb</a></li>
	      	<li><a href="http://www.playframework.org">playframework</a></li>
	      	<li><a href="http://www.blueprint.org">blueprint</a></li>
	      	<li><a href="http://lucene.apache.org">apache lucene</a></li>
	      	<li><a href="http://openiconlibrary.sourceforge.net/">openiconlibrary</a></li>
	      	<li><a href="http://www.eclipse.org/">eclipse</a></li>
	      	<li><a href="http://redcloth.org/hobix.com/textile/">textile</a></li>
	      </ul>
	    </div>
		<div class="grid2" id="footer-logo"><img alt="logo" src="@{'public/images/logo.png'}"></div>
	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9838740-3']);
  _gaq.push(['_setDomainName', '.cloudpaster.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
window.addEvent('domready', function() {
	SqueezeBox.assign($$('a[rel=boxed]'), {
		size: {x: 978, y: 250},
		shadow: false,
		evalScripts:true,
		ajaxOptions: {
			method: 'get'			
		}
	});
});
pastSuccess = function(text) {
	var json = JSON.decode(text);
	var stat = json.stat;
	if(stat=='fail' && 'ERR-001'==json.err.code){
		$('paster-content').addClass("error");
	}else if(stat == 'ok') {
		var pasters_list = $('pasters-list');
		var first_paster = pasters_list.getFirst('div');
		var clz = first_paster.hasClass('odd-border') ? 'even':'odd';
		var paster = $('paster-template').clone();
		paster.set('id','');
		paster.addClass(clz+'-border');
		var header = paster.getFirst('.paster-header');
		header.addClass(clz);
		var link = header.getElement('a');
		link.set('href','@{CloudPaster.view}'+json.paster.key)
		link.set('html',json.paster.key);
		var createDate = header.getElement('span');
		createDate.set('html',json.paster.createDate);
		header.getElement('.vote-up').set('onclick','javascript:ratingup("'+json.paster.key+'")');
		header.getElement('.rating-value').set('id',json.paster.key+'-rating');
		header.getElement('.vote-down').set('onclick','javascript:ratingdown("'+json.paster.key+'")');
		paster.getElement('.paster-content').set('html',json.paster.contentAsHtml);

/*
		var paster = new Element('div', {
			'class': 'grid8 first list-paster '+clz+'-border'
		});
		var headhtml = '<div class="grid6 first">'
					+'<div class="paster-icon"></div><a href="/view/' +json.paster.key+ '">'
					+json.paster.key
					+'</a><span class="small">' +json.paster.createDate+ '</span></div>'
					+'<div class="grid2 right">'
					+'<a href="javascript:void(0);" onclick="javascript:ratingup("'+json.paster.key+'")">UP</a>'
					+'<span id="' +json.paster.key+ '-rating">0</span>'
					+'<a href="javascript:void(0);" onclick="javascript:ratingdown("'+json.paster.key+'")">DOWN</a>'
				+'</div>';

		var paster_header = new Element('div', {
			'class': 'paster-header '+clz,
			html: headhtml
		});	
		var paster_content = new Element('div', {
			'class': 'paster-content',
			html: json.paster.contentAsHtml
		});
		paster_content.inject(paster,'top');
		paster_header.inject(paster,'top');
*/
		paster.inject(pasters_list,'top');
		SqueezeBox.close();
	}
}
</script>

<div style="display:none">
	<div id="paster-template" class="grid8 first list-paster ">
		<div class="paster-header">
			<div class="grid6 first">
				<div class="paster-icon"></div>
				<a></a>
				<span class="small"></span>
			</div>
			<div class="grid2 right">
				<a class="vote-up" href="javascript:void(0);" onclick="">UP</a>
				<span class="rating-value">0</span>
				<a class="vote-down" href="javascript:void(0);" onclick="">DOWN</a>
			</div>

		</div>
		<div class="paster-content">
		</div>
	</div>
</div>
    </body>
</html>
    