<!DOCTYPE html>
<html>
    <head>
        <title>${title} - 开发者问答服务</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">

        <script src="/public/javascripts/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/javascripts/jquery.hoverIntent.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/javascripts/jquery.pnotify .js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/javascripts/jquery.form.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/javascripts/cp.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="/public/metro-bootstrap/css/metro-bootstrap.css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css" media="screen, projection" />

        #{get "moreScripts"/}
        <style>
        .container{
            width: 960px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row-fluid top-nav">
	      <div class="span1" style="vertical-algin:bottom;line-height:34px;padding-left:5px;">
		      #{a @CloudPaster.questions()}<img src="@{'/public/images/logo-new.png'}"/>#{/a}
	      </div>
                <div class="span5">
                    <ul class="nav nav-pills">
                        <li #{if request.action == 'CloudPaster.questions'} class="active"#{/if}><a href="@{CloudPaster.questions()}">问题</a></li >
                        <li #{if request.action == 'CloudPaster.unanswered'} class="active"#{/if}><a href="@{CloudPaster.unanswered()}">等待回答</a></li>
                        <li #{if request.action == 'CloudPaster.tags'} class="active"#{/if}><a href="@{CloudPaster.tags()}">分类</a></li>
                        <li #{if request.action == 'CLink.index'} class="active"#{/if}><a href="@{CLink.index()}">资讯</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <ul class="nav nav-pills">
                        <li #{if request.action == 'CloudPaster.ask'} class="active"#{/if}><a href="@{CloudPaster.ask()}">我要提问</a></li>
                        <li #{if request.action == 'CLink.submit'} class="active"#{/if}><a href="@{CLink.submit()}">提交资讯</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <ul class="nav nav-pills">
                    #{if session['user.key']}    
                    <li>#{a @UserCenter.index(user.id)}${user?.name?:"路人甲"}#{/a}</li>
                    <li #{if request.action == 'Auth.logout'} class="active"#{/if}><a href="@{Auth.logout()}">退出</a></li>
                    #{/if}
                    #{else}
                    <li #{if request.action == 'Auth.login'} class="active"#{/if}><a href="@{Auth.login()}">用OpenID登录</a></li>
                    #{/else}
                     </ul>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span9">
                    #{doLayout/}
                </div>
                <div class="span3">
                    <table width="100%" border="0">
                        <tr>
                            <td class="bg1">
                                #{searchbox/}
                            </td>
                        </tr>
                        <tr>
                            <td class="bg1">
                                #{jiathis/}
                            </td>
                        </tr>
                        #{if tags}
                        <tr>
                            <td class="bg2">
                                <h3>标签</h3>
                                #{tags tags/}
                            </td>
                        </tr>
                        #{/if}
                        #{if session['user.key']}
                        <tr>
                            <td class="bg2">
                                #{favoritetags tags:favoriteTags/}
                            </td>
                        </tr>
                        #{/if}
                    </table>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span8">

                    &#169;2010-2011 感谢无私的奉献者
                    <a href="http://nginx.org/">nginx</a>
                    <a href="http://www.playframework.org">playframework</a>
                    <a href="http://lucene.apache.org">apache lucene</a>
                    <a href="http://www.eclipse.org/">eclipse</a>
                </div>
                <div class="span4">
                    数据库查询次数：#{jpastats.databaseQueries /}	  
                    ：#{jpastats.hibernateQueries /}
                    ：#{jpastats.fetchedCollections /}
                    ：#{jpastats.fetchedEntities /}
                </div>
            </div>

        </div>
    </div>
    #{ga/}

</body>
</html>

